<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php"
    backupGlobals="false"
    beStrictAboutOutputDuringTests="true"
    colors="true"
    columns="max"
    failOnRisky="true"
    failOnWarning="true"
    cacheDirectory="build/.phpunit.cache">
	<coverage
		includeUncoveredFiles="true"
		pathCoverage="false"
		ignoreDeprecatedCodeUnits="true"
		disableCodeCoverageIgnore="true">
		<report>
			<clover outputFile="build/logs/clover.xml"/>
			<html outputDirectory="build/coverage/html" highLowerBound="80"/>
			<text outputFile="build/coverage/coverage.txt"/>
		</report>
	</coverage>
	<extensions>
		<bootstrap class="Nexus\PHPUnit\Tachycardia\TachycardiaExtension">
			<parameter name="time-limit" value="0.50" />
			<parameter name="report-count" value="30" />
		</bootstrap>
		<bootstrap class="\Angelov\PHPUnitPHPVcr\Extension">
          <parameter name="cassettesPath" value="tests/fixtures" />
          <parameter name="storage" value="json" />                                   <!-- https://php-vcr.github.io/documentation/configuration/#storage -->
          <parameter name="libraryHooks" value="stream_wrapper, curl, soap" />        <!-- https://php-vcr.github.io/documentation/configuration/#library-hooks -->
          <parameter name="requestMatchers" value="method, url, host" />              <!-- https://php-vcr.github.io/documentation/configuration/#request-matching -->
          <parameter name="whitelistedPaths" value="" />                              <!-- https://php-vcr.github.io/documentation/configuration/#white-\\-and-blacklisting-paths -->
          <parameter name="blacklistedPaths" value="" />                              <!-- https://php-vcr.github.io/documentation/configuration/#white-\\-and-blacklisting-paths -->
          <parameter name="mode" value="new_episodes" />                              <!-- https://php-vcr.github.io/documentation/configuration/#record-modes -->
      </bootstrap>
	</extensions>
	<source>
		<include>
			<directory suffix=".php">./src</directory>
		</include>
	</source>
	<testsuites>
		<testsuite name="queues">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<logging>
		<testdoxHtml outputFile="build/logs/testdox.html"/>
		<testdoxText outputFile="build/logs/testdox.txt"/>
		<junit outputFile="build/logs/logfile.xml"/>
		<!--<log type="coverage-clover" target="build/logs/clover.xml"/>-->
	</logging>
	<php>
		<server name="app.baseURL" value="http://example.com/"/>
		<server name="CODEIGNITER_SCREAM_DEPRECATIONS" value="1"/>
		<env name="app.appTimezone" value="UTC" force="true"/>
		<!-- Directory containing phpunit.xml -->
		<const name="HOMEPATH" value="./"/>
		<!-- Directory containing the Paths config file -->
		<const name="CONFIGPATH" value="./vendor/codeigniter4/framework/app/Config/"/>
		<!-- Directory containing the front controller (index.php) -->
		<const name="PUBLICPATH" value="./vendor/codeigniter4/framework/public/"/>

		<env name="queue.serviceBus.url" value="https://sb-servicebus-01-weu-pre.servicebus.windows.net/" force="true"/>
		<env name="queue.serviceBus.issuer" value="RootManageSharedAccessKey" force="true"/>
		<env name="queue.serviceBus.secret" value="8f3SOZV0chyAQtBOr+t7cLTilDGGsU7+D+ASbHWq3OI=" force="true"/>
		<env name="MOCK_TIME" value="1701252485" force="true"/>
		<env name="MESSAGEID" value="MessageId-1234" force="true"/>
	</php>
</phpunit>